* {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[hidden] {
    display: none !important;
}

img {
    height: .7rem;
    width: auto;
    margin: 3px 1px;
}

.check {
    margin-right: 20px;
    margin-left: 3px;
}

.remove:hover, .edit:hover {
    transform: scale(1.2);
}

.check:hover {
    background-color: green;
}

label {
    font-size: 1rem;
    margin-right: 180px;
}

form {
    margin-bottom: 30px;
}

label[for='due-date'] {
    margin-right: 124px;
}

button, input {
    font-size: .7rem;
    height: 1rem;
}

#details {
    width: 25rem;
}

#due-date {
    margin-right: 84px;
}

img:hover, .todo-add, .project-add {
    cursor: pointer;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
}

.todo-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 200px;
}

.todo:hover {
    filter: brightness(0.95);
    cursor: pointer;
}   

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h5 {
    font-size: 1rem;
}

.header, .project-container {
    padding: 20px;
}

.header {
    background-color: rgb(136, 231, 231);
    padding-bottom: 8px;
    display: flex;
    gap: 400px;
}

.header h1 {
    font-size: 2rem;
}

.container {
    display: flex;
    padding: 0;
}

.project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 30vh;
    background-color: rgb(220, 220, 108);
}

.project-header, .project-due {
    color: gray;
}

.details-container > * {
    font-size: .7rem;
    margin: 0 20px;
}


.details-container {
    display: flex;
}

.project {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.project > img {
    margin-left: 10px;
}