* {
    margin: 0;
    padding: 0;
}

img {
    height: 1.3rem;
    width: auto;
}

img:hover {
    cursor: pointer;
}

.todo {
    display: flex;
}

.todo:hover {
    background-color: rgb(240, 246, 250);
}   